<h1><%= Drugstore.model_name.human %>編集</h1>

<%= render 'form', drugstore: @drugstore %>
<%= button_to t('helpers.link.delete'), @drugstore, method: :delete,
              data: {confirm: t('helpers.notice.delete_confirm')},
              class: 'btn btn-outline-secondary' %>

<%= link_to t('helpers.link.back'), drugstores_path %>
