<h1>
  <%= t('helpers.title.show', model: Drugstore.model_name.human) %>
</h1>

<%= render partial: 'action' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Drugstore.human_attribute_name :name %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @drugstore.name %>
    </div>
  </div>
</div>
