<h1>
  <%= t('helpers.title.show', model: Transport.model_name.human) %>
</h1>

<%= render partial: 'partials/action' %>

<div class="container">
  <div class="row">
    <div class="col-4 col-sm-2">
      <%= Transport.human_attribute_name :name %>
    </div>
    <div class="col-8 col-sm-10">
      <%= @transport.name %>
    </div>
  </div>
</div>