<h1><%= Person.model_name.human %>編集</h1>

<%= render 'form', person: @person %>
<%= button_to t('helpers.link.delete'), @person, method: :delete,
              data: {confirm: t('helpers.notice.delete_confirm')},
              class: 'btn btn-outline-secondary' %>

<%= link_to t('helpers.link.back'), people_path %>
