<%= form_tag(export_records_path, method: :get) do %>
  <div class="container box_radius">
    <div class="row">
      <div class="col-4">
        <%= select_tag 'export[encoding]',
                       options_for_select('UTF-8' => 'utf-8', 'Shift-JIS' => 'sjis'),
                       class: 'form-control' %>
        <% records.each do |record| %>
          <%= hidden_field_tag 'export[ids][]', record.id %>
        <% end %>
      </div>
      <div class="col-2">
        <%= submit_tag t('helpers.submit.export_csv'), class: 'btn btn-success', name: nil, data: {disable_with: false} %>
      </div>
    </div>
  </div>
<% end %>