<%= render_notices %>

<h1>
  <%= t('helpers.title.load_csv', models: Record.model_name.human.pluralize(I18n.locale)) %>
</h1>

<%= render partial: 'load_csv_result', locals: {records: @record_csv} %>
