<h1>
  <%= t('helpers.title.list', models: Record.model_name.human.pluralize(I18n.locale)) %>
</h1>

<%= link_to t('helpers.link.new'), new_record_path %>

<%= render partial: 'search_result', locals: {records: @records} %>

<br>

<%= link_to t('helpers.link.new'), new_record_path %>
