<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transportation.name %>
</p>

<%= link_to 'Edit', edit_transportation_path(@transportation) %> |
<%= link_to 'Back', transportation_index_path %>
