<div class="nested-fields">
  <div class="row mb-3">
    <div class="offset-4 col-4 offset-md-2 col-md-5">
      <%= f.collection_select :transport_id, Transport.all, :id, :name,
                              {include_blank: true}, class: 'form-control', required: true %>
    </div>
    <div class="col-3 col-md-4">
      <%= f.number_field :transport_cost, class: 'form-control', min: 0, required: true %>
    </div>
    <div class="col-1">
      <%= link_to_remove_association f, class: 'btn btn-danger' do %>
        <span class="fas fa-minus"></span>
      <% end %>
    </div>
  </div>
</div>
