<% years = 2.years.ago(Date.current).year..2.years.since(Date.current).year %>
<div class="record-statistics-button">
  <% years.each do |year| %>
    <%= link_to t('text.statistics.year', year: year), record_statistics_path(year: year), class: 'btn btn-info' %>
  <% end %>
</div>